<div class="container">

  <h3>Directive Demo</h3>
  <div>

    <p apphighlight > First Directive </p>     <!-- Here we are applying directive as an attribute -->

    <br>
    <div>
      <input type="radio" name="colors" (click)="color='Red'">Red
      <input type="radio" name="colors" (click)="color='Green'">Green
      <input type="radio" name="colors" (click)="color='Blue'">Blue
    </div>
    <br>

    <p>{{'Selected Color:'+ color}}</p>

    <!-- Correct Implementations while using []  -->

    <h3>Correct Implementations while using [] </h3>

    <p apphighlight [color]="color" [defaultColor] = "'violet'"> Second Directive </p> <!--  If your value of color coming from component property -->
   
    <br>

    <p apphighlight [color]='color'> Second Directive </p>

    <br>
   
    <p apphighlight [color]="'yellow'"> Second Directive </p> <!--  If you are hardcoding the value -->
    
    <br>

    <!-- In Correct Implementations while using []  -->

    <h3>In Correct Implementations while using [] </h3>

    <p apphighlight [color]="yellow"> Second Directive </p>

    <br>

    <!-- Correct Implementations without using []  -->

    <h3>Correct Implementations without using []</h3>

    <p apphighlight color="yellow"> Second Directive </p>

    <br>

    <!-- In Correct Implementations without using []  -->

    <h3>Correct Implementations without using []</h3>

    <p apphighlight color="color"> Second Directive </p>
    
    <br>

    <h3>Providing Alias to the Input Property</h3>

    <!-- <p [apphighlight] = "color"> Second Directive </p> -->

  </div>

</div>
